* {
    border: none;
    font-family: "Source Code Pro";
    font-weight: 500;
    font-size: 19px;

    min-height: 0;
}

window#waybar {
    background-color: #2d3b34;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
    color: #ffffff;
    min-width: 16px;
    margin: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	box-shadow: inset 0px 0px 0px 2px white;
	color: red;
}

#workspaces button:hover {
	background-color: red;
}

#workspaces button.active {
	background-color: white;
	color: black;
}

#workspaces button.focused * {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-media,
#mode,
#tray,
#mpd {
    padding: 0 7px;
    margin: 6px 3px; 
    background-color: #74c57f;
    color: #333333;
}

#clock,
#tray {
    border-radius: 8px;
}

#clock {
    background-color: #242823;
    color: rgb(219, 219, 219);
    padding: 0;
    margin-right: 3px;
}

#cpu,
#memory,
#battery {
    background-color: #ddbd82;
}

#window,
#workspaces {
    padding: 0;
    margin: 0;
}

#window {
    font-variant: small-caps;
    background-color: #242823;
    border-radius: 8px;
    margin: 5px 5px;
    font-family: "Roboto Mono Medium";
    padding-left: 6px;
    padding-right: 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 80px;
    min-width: 10px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    background-color: green;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #3c6a42;
}

#pulseaudio,
#bluetooth,
#network {
    background-color: lightblue;
}

#pulseaudio,
#cpu {
    margin-right: 1.5px;
    border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#bluetooth,
#battery {
    margin-right: 1.5px;
    margin-left: 1.5px;
}

#memory,
#network {
    margin-left: 1.5px;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#memory {
	margin-right: 3px;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
